.wrapper {
  max-width: 80%;
  margin: auto;
}

.errorMsg{
  color: red
}
.head {
  background-color: #ccc;
  text-align: left;

}
.item-ip:hover {
  background-color: rgb(192, 236, 222);
  cursor: pointer;
}
table{
width: 100%;
}
